body {
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #003147;
  }

h1 {
    margin-left: 40px;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 0 0 10px aliceblue;
}

  .card-img {
    width: 400px;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    padding: 5px;
    margin-left: 30px;
  }

  .navigasi {
    margin-left: -10px;
    }

    .navigasi ul a {
        font-size: 20px;
        text-decoration: none;
        list-style: none;
        color: aliceblue;
        padding: 10px;
        transition: .5s;
    }

    .navigasi ul a:hover {
        background-color: aliceblue;
        color: black ;
        box-shadow: 0 0 10px aliceblue ;
        border-radius: 50%;
    }
    
  .card-img:hover img {
    transform: scale(1.05);
  }
  
  .card-img .caption {
    opacity: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.279);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: system-ui;
    font-weight: bold;
    color: white;
    transition: all 600ms ease-in-out;
  }
  
  .card-img:hover .caption {
    opacity: 1;
  }
  
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 600ms ease-in-out;
  }
  
  .galery {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  